@model IEnumerable<Courses>


 <div class="container">
 <div class="row">
        @foreach(var item in Model){

            
            
                <div class="col">
               <partial name="_courseCard" for="@item" />
                </div>
            
            
        }
        
      </div>  
         
</div>
