@model IEnumerable<Courses>


 <div class="container">
     <div class="card" >
        @foreach(var item in Model){

            <div class="card-body">
                @item.Name
                <a class="btn btn-success" asp-action="AddToCart" asp-controller="Cart"  asp-route-id="@item.Id" >add</a>
                <a class="btn btn-danger">remove</a>
            </div>
        }
        
        
         
     </div>
 </div>